<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3">
        <!--<svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="exclamation-triangle"/></svg>-->
        <h4 class="alert-heading"><%= message %></h4> <!-- Corrected closing tag to </h4> -->
         <!-- Use err.stack for the trace (if it's an instance of Error) -->
    </div>
</div>
